<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Email Client from smarterasp.net-->
  <add key="EmailClient" value="mail.miketullis.com"/>
  <!--Email User from smarterasp.net-->
  <add key="EmailUser" value="no-reply@miketullis.com"/>
  <!--Email Password from smarterasp.net-->
  <add key="EmailPass" value="Restless-1"/>
  <!--Email to deliver messages to-->
  <add key="EmailTo" value="mike_tullis@outlook.com"/>
</appSettings>