@{ViewBag.Title = "Professional Profile";}

@section Hero{
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="contents">
                        <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hello, my name is</h5>
                        <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Michael Tullis</h2>
                        <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Full Stack Web Developer and Graphic Designer</p>
                        <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/mike.tullis.1" target="_blank"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/michael-tullis-5a145ba4/" target="_blank"><i class="icon-social-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="https://twitter.com/MikeTullis6" target="_blank"><i class="icon-social-twitter"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="https://www.instagram.com/tullis_mike/" target="_blank"><i class="icon-social-instagram"></i></a>
                            </li>
                            <li>
                                <a class="behance" href="https://www.behance.net/michaeltullis" target="_blank"><i class="icon-social-behance"></i></a>
                            </li>
                            <li>
                                <a class="youtube" href="https://www.youtube.com/channel/UC1BaqkoDNh-Tr159xuV76tA" target="_blank"><i class="icon-social-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
}


<!-- BODY CONTENT -->
<!-- About Section Start -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/Content/assets/img/about/MRT_Image.jpg" alt="Profile Picture Of Michael Tullis">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi Everyone!</h3>
                    <p class="myStory">
                        Starting life as the son of an auto mechanic in a small northwest Missouri town, most people thought I was destined for a life repairing vehicles like my father. While I enjoy restoring classic muscle cars in my personal life, including my prized 1968 Pontiac GTO, I knew the world held something more and made it my mission to get out of my hometown and strive for something better. I initially started my professional career in architectural and manufacturing design, working on many high-profile design projects over the years, including a massive expansion to St. Francis Children’s Hospital in Tulsa, OK, the restoration/renovation of the Central Missouri State University field house, and redesigning the ornamental railing systems in Kansas City’s historic Bartel Hall.<br />
                        I have always been extremely goal-oriented with the ability to absorb technology quickly, as well as being able to develop creative solutions with an eye for artistic design. So, after two decades of designing building elements, I decided it was time to bet on myself and follow my passion for technology and design. With my extensive problem-solving skills, knack for graphic design, and my expertise in audio engineering and videography, full stack web development just seems like the perfect place utilize the entirety of my ever-expanding skillset, and a logical progression for me professionally.
                    </p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Name </span> <span class="pro-detail">Michael Tullis</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">Independence, MO</span></li>
                            <li><span class="pro-title"> Country </span> <span class="pro-detail">United States</span></li>
                            <li><span class="pro-title"> Email </span> <span class="pro-detail">mike_tullis@outlook.com</span></li>
                        </ul>
                    </div>
                    <a href="~/Content/assets/Tullis_Resume.pdf" download class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
                    <a href="mailto:mike_tullis@outlook.com" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- About Section End -->
<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="icon-grid"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#portfolios">Full-Stack Web Development</a></h3>
                        <p>Custom website design, development and functionality implementation.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#portfolios">Graphic Design</a></h3>
                        <p>Custom designs, plus digital conversion and restoration from printed media.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="icon-bubbles"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="https://www.youtube.com/channel/UC1BaqkoDNh-Tr159xuV76tA" target="_blank">Audio/Video Editing</a></h3>
                        <p>Audio/Video recording, digital tranfers, editing, mixing, and restorations.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="icon-briefcase"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#portfolios">Business Branding</a></h3>
                        <p>Business logo designs, color schemes, and promotional material.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Resume Section Start -->
<div id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Centriq Training Center</h3>
                                <span>2021 - 2022</span>
                                <p class="line-text">Full Stack Web Developement</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Devry University</h3>
                                <span>2019 - 2021</span>
                                <p class="line-text">
                                    Bachelor of Science in Multimedia Design and Development <br />(Summa Cum Laude)
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Devry University</h3>
                                <span>2018 - 2019</span>
                                <p class="line-text">
                                    Undergraduate Certificate in Website Design <br />(with Honors)
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Southeast Community College</h3>
                                <span>1999 - 2001</span>
                                <p class="line-text">Associate of Applied Science in Architectural Engineering Technology</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Tarkio High School</h3>
                                <span>1994 - 1999</span>
                                <p class="line-text">General Education Diploma</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Designer/Detailer - Precision Fabrication, LTD</h3>
                                <span>Mar 2021 - Present</span>
                                <p class="line-text">Designing and detailing of steel project for structural and architectural projects.  File management and coordination of projects. Communications liaison between clients and contractors.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Designer - Viva Railings, LLC</h3>
                                <span>Jan 2019 - Mar 2021</span>
                                <p class="line-text">Development of innovative design solutions for the manufacturing and installation of custom ornamental railing systems.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Team Leader/Senior Designer - Livers Bronze Co., LLC</h3>
                                <span>Oct 2014 - Jan 2019</span>
                                <p class="line-text">Leader of the Structure/Layout Team in charge of developing design layouts for custom ornamental railing system. Communications liaison for the Structure/Layout Team and the Final Design and Project Management Teams. Performed as lead training instructor of new employees.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">BIM Coordinator - Midwest Mechanical Contractors, LLC</h3>
                                <span>Oct 2014 - Jan 2019</span>
                                <p class="line-text">Development and implementation of a laser location process. Onsite designer for the Saint Francis Hospital expansion in Tulsa, OK and communications liaison between the onsite installation crew and Kansas City office, receiving much praise for invaluable service to the project.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>   <!-- Resume Section End -->
<!-- Portfolio Section -->
<section id="portfolios" class="section-padding">
    <!-- Container Starts -->
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Controller/Buttons -->
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Design
                    </a>
                    <a class="filter btn btn-common" data-filter=".development">
                        Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".print">
                        Print
                    </a>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <!-- row 1 -->
            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/MagAd.jpg" alt="Magazine advert design" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/Content/assets/img/projects/MagAd_HiRes.jpg"
                                       alt="Magazine advert design for Under Armour boots" title=" Magazin Advert Design">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/MoviePoster.jpg" alt="Movie Poster Design" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/Content/assets/img/projects/MoviePoster-HiRes.jpg"
                                       alt="Gridhouse-style poster for the ficticious movie Spaulding" title="Spaulding Movie Poster design">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/NHKC.jpg" alt="New Horizons Website Snapshot" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="link" href="http://nhkc.miketullis.com/" target="_blank" alt="click to visit site">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 2 -->
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/KISS-Letterform.jpg" alt="KISS Letterform Design" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/Content/assets/img/projects/KISS-Letterform-HiRes.jpg"
                                       alt="A letterforn desing utilizing tiles of KISS songs to create thier iconic logo" title="KISS song title letterform design">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/ESKC.jpg" alt="KC Easter Seals Website Snapshot" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="link" href="http://eastersealskc.miketullis.com/" target="_blank">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/Typography.jpg" alt="Lyric typography over a image of a guitar" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/Content/assets/img/projects/Typography-HiRes.jpg"
                                       alt="Typography design utilizing the lyrics of the song Leave A Scar by Blackberry Smoke over the image of a guitar" title="Blackberry  Smoke &#8220Leave a Scar&#8221 Typography Design">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/Gallery.jpg" alt="JS Gallery Site Snapshot" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="link" href="http://gallery.miketullis.com/" target="_blank">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/PrintAd.jpg" alt="Print advert design" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/Content/assets/img/projects/PrintAd-HiRes.jpg"
                                       alt="Print advert design for fake record company featuring the image of a guitar and a top hat"
                                       title="Print Advert Design">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/Content/assets/img/projects/SprayAway.jpg" alt="Snapshot Of On Of My First Sites" class="galleryImage" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="link" href="http://sprayaway.miketullis.com/" target="_blank">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!-- Container Ends -->
</section>  <!-- Portfolio Section Ends -->
<!-- Counter Area Start-->
<section class="counter-section section-padding">
    <h1 class="script-font wow fadeInUp" data-wow-delay="0.2s">my classmates</h1>
    <div class="container">
        <div class="testiSlide">
            <div>
                <figure class="classmate">
                    <img src="~/Content/assets/img/classmates/Mindi.jpg" alt="image of Mindi" />
                    <h3>Mindi</h3>
                    <a href="http://mindiford.com/" target="_blank">mindiford.com</a>
                </figure>
            </div>
            <div>
                <figure class="classmate">
                    <img src="~/Content/assets/img/classmates/gigi.jpg" alt="image of Gidonny" />
                    <h3>Gidonny</h3>
                    <a href="http://gidonny.com/" target="_blank">gidonny.com</a>
                </figure>
            </div>
            <div>
                <figure class="classmate">
                    <img src="~/Content/assets/img/classmates/Justin.jpg" alt="image of Justin" />
                    <h3>Justin</h3>
                    <a href="http://www.vignonetech.com/" target="_blank">vignonetech.com</a>
                </figure>
            </div>

            <div>
                <figure class="classmate">
                    <img src="~/Content/assets/img/classmates/jake.jpg" alt="image of Jake" />
                    <h3>Jake</h3>
                    <a href="#">---</a><!--TODO update with website-->
                </figure>
            </div>
            <div>
                <figure class="classmate">
                    <img src="~/Content/assets/img/classmates/Ben.jpg" alt="image of Ben" />
                    <h3>Ben</h3>
                    <a href="http://benjaminadler.com/" target="_blank">benjaminadler.com</a>
                </figure>
            </div>

        </div>
    </div>
</section> <!-- Counter Area End-->
<!-- Contact Section Start -->
<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="contact-block">
                        <h2>Contact Form</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button">
                                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>
                                    18911 E 16th St Terr N <br />
                                    Independence, MO 64058
                                </p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:mike_tullis@outlook.com">mike_tullis@outlook.com</a></p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <p><a href="tel:816-387-3241">+ (816) 387-3241</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- Contact Section End -->




@section RefLink{
    <!-- Go to References Link -->
    <a href="@Url.Action("References", "Home")" class="ll">&#9824;</a>
}



@section Scripts{
    <script src="~/Content/assets/js/nivo-lightbox.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
    <script src="~/Content/assets/js/sliderFunction.js"></script>
}