@{ViewBag.Title = "References";}

@section Hero{
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="contents">
                        <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">References</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
}


<!-- BODY CONTENT -->
<!-- About Section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/Content/assets/img/about/MRT_Image2.jpg" alt="Image of me in my 1968 Pontiac GTO" title="Me sitting in my 1968 Pontiac GTO">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>My References</h3>
                    <p class="myStory">Over the years I have had the privilege of working with and getting to know personally many outstanding people in the Kansas City area. While the positions that brought these remarkable individuals have come and gone over the years, the connections have stayed. These are a few of the people who know me, my work ethic, and my skillset the best. I don’t just consider them colleagues; <br />I consider them friends.</p>

                    <a href="~/Content/assets/Tullis_Resume.pdf" download class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
                    <a href="~/Content/assets/Tullis_Recommendations.pdf" download class="btn btn-danger"><i class="icon-paper-clip"></i> Download Recommendations</a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- About Section End -->
<!-- Refereneces Section Start -->
<section>
<div class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-1">
                <!-- Div used to space over references div -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Personal and Professional References</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">James Caldwell</h3>
                                <span>Technical Trainer&nbsp;&nbsp;|&nbsp;&nbsp;Centriq Training</span>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:jcaldwell@centriq.com">jcaldwell@centriq.com</a>
                                    <br />
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:913-322-7000">+ (913) 322-7000</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Evan Whittaker</h3>
                                <span>Technical Trainer&nbsp;&nbsp;|&nbsp;&nbsp;Centriq Training</span>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:ewhittaker@centriq.com">ewhittaker@centriq.com</a>
                                    <br />
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:816-820-3890">+ (816) 820-3891</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Karla Cranston</h3>
                                <span>Business Analyst&nbsp;&nbsp;|&nbsp;&nbsp;GEHA</span>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:Karla.Cranston@GEHA.com">Karla.Cranston@GEHA.com</a>
                                    <br />
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:816-721-4566">+ (816) 721-4566</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Cory Emley</h3>
                                <span>Project Manager&nbsp;&nbsp;|&nbsp;&nbsp;VIVA Railings, LLC</span>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:cemley@vivarailings.com">cemley@vivarailings.com</a>
                                    <br />
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:913-594-0415">+ (913) 594-0415</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Glenn Kelley</h3>
                                <span>Materials and Scheduling Specialist&nbsp;&nbsp;|&nbsp;&nbsp;Livers Bronze Co, LLC</span>
                                <p>
                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="mailto:GKelley@liversbronze.com">GKelley@liversbronze.com</a>
                                    <br />
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:913-594-0415">+ (913) 594-0415</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Fred Groh</h3>
                                <span>Owner / Operator&nbsp;&nbsp;|&nbsp;&nbsp;Groh Pro Handyman Services, LLC <br/>
                                (Former) Materials and Scheduling Specialist&nbsp;&nbsp;|&nbsp;&nbsp;Livers Bronze Co, LLC</span>
                                <p>
                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;
                                    <a href="tel:816-729-2940">+ (816) 729-2940</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>   <!-- References Section End -->
</section>







